.doneButton,
.results,
.firstQuestion {
    margin-top: 30px;
}

.question {
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}

.jumbotron,
.doneButton {
    color: red;
    background-color: black;
}

.truefalse {
    background-color: lightgray;
}

.question {
    background-color: darkgray;
}

#timer {
    font-size: 30px;
}

body {
    background-color: slategrey;
    z-index: -200;
}

.container {
    border: 5px solid black;
}

.doneButton {
    padding-top: 20px;
    padding-bottom: 20px;
}

.startButton {
    margin-top: 15px;
}

.results {
    margin-bottom: 30px;
}